/* hide auto-injected site title link */
.markdown-body > h1 > a[href*="github.io/portfolio"] {
  display: none;
}

/* set main content width */
main {
  width: 75%;
  max-width: 2000px;
}

/* indent lists */
ul,
ol {
  padding-left: 2em;
}

/* indent nested lists */
ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 2em;
}